@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Playfair+Display:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

#akin-chat-button {
  bottom: 20px !important;
  /* background-color: #008dbb !important; */
  padding: 10px !important;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cover.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cover.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.hero ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.locationslider {
  width: 85%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationslider .swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
  z-index: 6;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: #fff;
  color: #fff !important;
  fill: fff !important;
  stroke: fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/testimonials.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

.CaptionUsername {
  display: none !important;
}

.css-6kluu6 {
  display: none !important;
}

/*  */

.rewards-spin-game {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.canvas-container {
  background-color: #2c8af7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  min-height: 450px;
  overflow: hidden;
  position: relative;
  min-width: 450px;
}
#wheel {
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(1, 1, 1, 0.3);
  height: 400px;
  left: 0;
  position: absolute;
  margin: 21px;
  top: 0;
  transition: transform 4s cubic-bezier(0.5, -0.08, 0.5, 1.04);
  width: 400px;
}

#spin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #a72810;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--white);
  width: 60px;
  height: 60px;
  font-family: sans-serif;
  border-radius: 50%;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.arrow {
  position: fixed;
  top: 25.6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  color: #F3CD35!important;
}

.wheel-div {
  background-color: rgba(255, 255, 255, 0.9) !important;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/031/750/small/dark-blue-wide-background-with-radial-blurred-gradient-vector.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wheel {
  border: 5px solid #181818;
  zoom: 1;
  color: #000 !important;
}

.canvas-container {
  background: #181818;
  color: #181818 !important;
  box-shadow: 0 0 10px rgb(31, 30, 30);
  border: 5px solid #F3CD35;
  opacity: 100%;
  font-family: dm;
}

@media (max-width: 768px) {
  .canvas-container {
    zoom: 0.5;
  }
}

#spin {
  background: #F3CD35;
  color: black;
  border: 3px solid #181818;
  font-weight: 600;
  padding: 10px;
}

.swiper-button-next {
  display: none;
}

@media (max-width: 768px) {
  .swiper-button-next {
    display: block !important;
    margin-top: -40px !important;
  }
  .swiper-button-prev {
    display: block !important;
    margin-top: -40px !important;
  }
}
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */

input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 2px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.down-arrow {
  animation: jumpInfinite 1.5s infinite;
}

.shadow-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.blogContent p {
  margin-bottom: 10px !important;
  line-height: 32px;
  font-size: 18px;
}

.event-card {
  filter: drop-shadow(-10px 10px 0px #116b89);
}
