@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Playfair+Display:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

#akin-chat-button {
  bottom: 20px !important;
  /* background-color: #008dbb !important; */
  padding: 10px !important;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cover.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(75%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/cover.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(75%);
}

.locationslider {
  width: 85%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationslider .swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
  z-index: 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: #fff;
  color: #fff !important;
  fill: fff !important;
  stroke: fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/testimonials.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}
