@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel__dots-item.__active{
  color: black;
  background: #000;
}

.alice-carousel__dots-item.__custom{
  color: black;
  background: #000;
}